body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #fa541c;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
    border-radius: 25px;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 25px;
    flex-grow: 1;
    margin-left: 10px;
}

.header-actions a {
    margin-left: 15px;
    padding: 8px 15px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.categories a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.categories a.active {
    color: #ff6600;
    border-bottom: 2px solid #ff6600;
}

.container {
    margin: 20px auto;
    height: 80vh;
    max-width: 80%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
}

.product-details {
    display: flex;
    gap: 40px;
}

.product-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-info {
    flex-grow: 1;
}

.product-name {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-price {
    color: #ff6600;
    font-size: 20px;
    margin-bottom: 20px;
}

.product-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.product-category {
    font-size: 16px;
    color: #555;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.quantity-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity-decrement, .quantity-increment {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
}

.quantity-input {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.add-to-cart {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.product-description {
    width: 80vh;
    word-wrap: break-word; 
  }